.portMain {
    margin-top: 5.4%;
    /* background-color: rgb(231,167,141); */
    
}

.githubFA {
    float: right;
}
#portfolioTitle {
    color: rgb(70,70,70);
    text-align: center;
    border-bottom-style: double;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.portContainer{
    
    background-color: rgb(250, 250, 250);
    opacity: 0.97;
    width: 85%;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(190, 186, 186);
    /* box-shadow: 3px 3px 0px rgb(50,50,50); */
    margin-top: 80px;
    /* margin-bottom: 40px; */
    box-shadow: 0 0 20px 0 rgba(72,94,116,.7);
    
    
}

.cardPort{
    /* position: absolute;
    top: 10em;
    left: 50%; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;

}
.cardFront{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000; */
    /* backface-visibility: hidden; */
    transform: rotateY(0deg);
    transition: 0.5s;
    transition-delay: 0.4s;
}
.cardPort:hover .cardFront{
    transform: rotateY(-180deg);
    transition-delay: 0.2s;
}

.cardPort:hover .cardBack{
    transform: rotateY(0deg);
    transition-delay: 0.2s;

}
.cardBack{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(40,40,40);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
    opacity: .95;
    overflow-y: auto;
    transition-delay: 0.4s;
}
.cardDetails {
    color: white;
    margin: 20px;
    font-size: 14px;
    text-align: left;
    
}
.descriptTitle{
    font-weight: bold;
    color: red;
    padding-right: .5em;
    text-align: left;
}

.cardBackLink{
    display: flex;
}


@media only screen and (max-width: 700px) {
    .portContainer{
        width: 98%;
    }
    .cardPort {
        margin: 1.2em;
        left: 45%;
        top: 40%;
        transform-style: flat;
    }
    .cardRow {
        padding: 0;
    }
    .cardDetails {
        margin: 10px;
    }
}